<div>
  <h1>
    <div class="p-3 mb-2 bg-danger text-white text-center">Restaurant Touch-app</div>
  </h1>
  <br>

  <div class="card offset-4">
    <div class="div_image">
      <img class="card-img-top" src="/assets/img/icon_login.png" alt="Card image cap">
    </div>
    <div class="card-body">
      <h3 class="card-title">Iniciar sesion</h3>
      <form>
        <div class="form-group">
          <label for="exampleInputEmail1">Direccion de correo electronico</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Contraseña</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">No cerrar sesion</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>

<app-footer></app-footer>
