<app-header></app-header>
<div>
  <br>
  <div class="card offset-4">
    <div class="div_image">
      <img class="card-img-top" src="/assets/img/icon_login.png" alt="Card image cap">
    </div>
    <div class="card-body">
      <h3 class="card-title">Iniciar sesión</h3>
      <form>
        <div class="form-group">
          <label for="exampleInputEmail1">Dirección de correo electrónico</label>
          <input type="email" class="form-control" name="email" [(ngModel)]="email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ingrese el correo">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Contraseña</label>
          <input type="password" class="form-control" name="password" [(ngModel)]="password" id="exampleInputPassword1" placeholder="Ingrese la Contraseña">
        </div>
        <div class="button_login">
          <button type="submit" class="btn btn-primary" (click)="onAdd()">Login</button>
        </div>
      </form>
      <div class="div_register">
        <p class="p_register">¿No tienes una cuenta? Regístrate
          <a href="#" routerLink='/signup' routerLinkActive='active'>aquí</a>
        </p>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
